section.main__section.portfolio
  h2.heading.heading_2 My Recent Work
  .row
    each project in [{ name: 'Crypto Exchange Platform', description: 'Built on Next.js or seamless server-side rendering and optimal user experience, platform offers real-time currency charts, buying and selling functionalities, live chat support using Socket.IO and a secure user authentication system. With a robust backend powered by Node.js, ensure fast, secure, and reliable service. Dark and light theme are available', stack:'Next.js, React, Typescript, NodeJs, MongoDb, Socket.IO, Mui ', img: 1}, { name: 'TO-DO list App', description: 'A simple and intuitive to-do list app that helps users organize and prioritize their tasks. The application includes functions for creating, editing and deleting tasks, as well as the ability to mark tasks as completed. Users can categorize tasks, set deadlines and priorities. The interface is designed to be user-friendly and responsive, making task management easy and efficient.', stack: 'React, Redux, Typescript, Mui', img: 2}, { name: 'Website for a hotel', description: 'A comprehensive website designed for a hotel to provide an optimal user experience for guests. The site features an elegant design, showcasing amenities, rooms, and services of the hotel. It includes an online booking system, a gallery of high-quality images, customer reviews, and an interactive map. The website is fully responsive, ensuring a seamless experience across all devices.', stack: 'WIX', img: 3}]
.col-sm-6
  .thumbnail
    a(href='images/0' + project.img + '.jpg')
      .thumbnail__preview(
        data-title='view'
        title=project.name
        style='background-image: url(images/0' + project.img + '.jpg)'
      )
    h3= project.name
    .thumbnail__description= project.description
    h5 Technology stack:
    .thumbnail__description= project.stack
