section.main__section.portfolio
  h2.heading.heading_2 My Recent Work
  .row
    for project in projects
      .col-sm-6
        .thumbnail
          a(href='images/0' + project.img + '.jpg')
            .thumbnail__preview(
              data-title='view'
              title=project.name
              style='background-image: url(images/0' + project.img + '.jpg)'
            )
          h3= project.name
          .thumbnail__description= project.description
          h5 Technology stack:
          .thumbnail__description= project.stack
