section.main__section.portfolio
  h2.heading.heading_2 My Recent Work
  .row
    for project in projects
      .col-sm-6
        .thumbnail
          for i in [1, 2]
            a(href='images/' + project.id + i +'.jpg')
              .thumbnail__preview(
                data-title='view'
                title=project.name
                style='background-image: url(images/' + project.id + i + '.jpg)'
              )
          h3= project.name
          .thumbnail__description= project.description
          h5 Technology stack:
          .thumbnail__description= project.stack
